


    <div class="container-fluid">
        <div class="row">

            <div class="jumbotron">
                <p>Kendo UI AutoComplete...</p>
                <div class="col-md-4"><input kendo-auto-complete ng-model="Title" k-data-source="stations" /></div>
                <div class="col-md-8"><p>Station: {{ Title }}</p></div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
        

        </div>

   
